Repository NijTeck/epac-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plan-epac-dev, deploy-epac-dev-policy, deploy-epac-dev-roles, plan-tenant

plan-epac-dev:
  stage: plan-dev
  environment:
    name: epac-dev
  id_tokens:
    AZURE_ID_TOKEN:
      aud: api://AzureADTokenExchange
  script:
  ...

deploy-epac-dev-policy:
  stage: plan-dev
  environment:
    name: epac-dev
  needs:
  - job: plan-epac-dev
    artifacts: true
  id_tokens:
    AZURE_ID_TOKEN:
      aud: api://AzureADTokenExchange
  script:
  ...

deploy-epac-dev-roles:
  stage: plan-dev
  environment:
    name: epac-dev
  needs:
  - job: plan-epac-dev
    artifacts: true
  id_tokens:
    AZURE_ID_TOKEN:
      aud: api://AzureADTokenExchange
  script:
  ...

plan-tenant:
  stage: plan-tenant
  environment:
    name: tenant-plan
  id_tokens:
    AZURE_ID_TOKEN:
      aud: api://AzureADTokenExchange
  script:
  ...

fix: auto-remediation only runs after successful EPAC deployment
  .github/workflows/auto-remediation.yml
Due: none

fix: remove IncludeArcMachines parameter from STIG policies
  Definitions/policyAssignments/comprehensive-nist-800-53-assignment.jsonc
  Definitions/policyDefinitions/CM-ConfigurationManagement/custom-cm-windows-stig-cat1.json
  Definitions/policySetDefinitions/comprehensive-nist-800-53-r5.jsonc
Due: plan-epac-dev, deploy-epac-dev-policy, deploy-epac-dev-roles, plan-tenant

feat: re-enable STIG policy assignment after successful bootstrap
  .claude/settings.local.json
  Definitions/policyAssignments/stig-compliance-assignments.jsonc
Due: plan-epac-dev, deploy-epac-dev-policy, deploy-epac-dev-roles, plan-tenant

fix: disable comprehensive NIST assignment during bootstrap
  Definitions/policyAssignments/comprehensive-nist-800-53-assignment.jsonc.disabled
Due: plan-epac-dev, deploy-epac-dev-policy, deploy-epac-dev-roles, plan-tenant

fix: disable ALL policy assignments during bootstrap
  .claude/settings.local.json
  Definitions/policyAssignments/mcsb-enforcement-assignment.jsonc.disabled
  Definitions/policyAssignments/nist-800-53-assignments.jsonc.disabled
  Definitions/policyAssignments/stig-compliance-assignments.jsonc.disabled
Due: plan-epac-dev, deploy-epac-dev-policy, deploy-epac-dev-roles, plan-tenant

feat: re-enable all policy assignments after successful bootstrap
  .claude/settings.local.json
  Definitions/policyAssignments/comprehensive-nist-800-53-assignment.jsonc
  Definitions/policyAssignments/mcsb-enforcement-assignment.jsonc
  Definitions/policyAssignments/nist-800-53-assignments.jsonc
  Definitions/policyAssignments/stig-compliance-assignments.jsonc
Due: plan-epac-dev, deploy-epac-dev-policy, deploy-epac-dev-roles, plan-tenant

fix: remove CSV parameter file causing JSON parsing errors
  Definitions/policyAssignments/nist-800-53-assignments.jsonc
Due: plan-epac-dev, deploy-epac-dev-policy, deploy-epac-dev-roles, plan-tenant

fix: disable stig-compliance-assignments with empty children array
  .claude/settings.local.json
  Definitions/policyAssignments/stig-compliance-assignments.jsonc.disabled
  note.md
Due: plan-epac-dev, deploy-epac-dev-policy, deploy-epac-dev-roles, plan-tenant

feat: add GitLab CI/CD pipeline for EPAC deployment
  .gitlab-ci.yml
  GITLAB-QUICKSTART.md
  GITLAB-SETUP.md
Due: plan-epac-dev, plan-tenant

updated codebase for gitlab
  .claude/settings.local.json
Due: none

udpated codebase
  image copy.png
  image.png
Due: none

Create Notes-card.md
  Notes-card.md
Due: none

Add files via upload
  Azure_CC_Local_Controls.xlsx
Due: none

udpated codebase included the mapped policy
  .claude/settings.local.json
  Azure_CC_Local_Controls.xlsx
  Azure_CC_Local_Controls_Mappeed.xlsx
  Notes-card.md
  update_controls_epac_coverage_v2.py
Due: none

feat: add Custom NIST 800-53 Quick Wins policies
  CUSTOM-QUICK-WINS.md
  Definitions/policyAssignments/custom-quick-wins-assignments.jsonc
  Definitions/policyDefinitions/custom-quick-wins-backup.jsonc
  Definitions/policyDefinitions/custom-quick-wins-tagging.jsonc
  Definitions/policySetDefinitions/custom-quick-wins-initiative.jsonc
Due: plan-epac-dev, deploy-epac-dev-policy, deploy-epac-dev-roles, plan-tenant

refactor: rename quick-wins to control-family naming convention
  .claude/settings.local.json
  CUSTOM-CONTROL-FAMILY.md
  Definitions/policyAssignments/custom-nist-control-families-assignments.jsonc
  Definitions/policyDefinitions/custom-cm-mandatory-tags.jsonc
  Definitions/policyDefinitions/custom-cp-azure-backup.jsonc
  Definitions/policySetDefinitions/custom-nist-control-families.jsonc
Due: plan-epac-dev, deploy-epac-dev-policy, deploy-epac-dev-roles, plan-tenant

refactor: update Python script to use control family naming
  update_controls_epac_coverage_v2.py
Due: none

chore: replace company-specific management group IDs with placeholder
  .github/workflows/auto-remediation.yml
  .gitlab-ci.yml
  Azure_CC_Local_Controls.xlsx
  Definitions/global-settings.jsonc
  Definitions/policyAssignments/comprehensive-nist-800-53-assignment.jsonc
  Definitions/policyAssignments/custom-nist-control-families-assignments.jsonc
  Definitions/policyAssignments/mcsb-enforcement-assignment.jsonc
  Definitions/policyAssignments/nist-800-53-assignments.jsonc
  Definitions/policyAssignments/stig-compliance-assignments.jsonc.disabled
  Definitions/policyExemptions/defender-for-servers-crowdstrike-exemption.jsonc
  Definitions/policySetDefinitions/comprehensive-nist-800-53-r5.jsonc
  GITLAB-QUICKSTART.md
  GITLAB-SETUP.md
  SWITCHING-TO-ENFORCEMENT.md
Due: plan-epac-dev, deploy-epac-dev-policy, deploy-epac-dev-roles, plan-tenant

udpated codebase included the mapped policy note and excel file
  .claude/settings.local.json
  note.md
Due: none

feat: update control mappings to reflect implemented custom policies
  Azure_CC_Local_Controls.xlsx
  update_controls_epac_coverage_v2.py
Due: none

chore: add backup Excel files to gitignore
  .gitignore
Due: none

fix: correct Azure Backup policy field aliases
  Definitions/policyDefinitions/custom-cp-azure-backup.jsonc
Due: plan-epac-dev, deploy-epac-dev-policy, deploy-epac-dev-roles, plan-tenant

Path conditions:
  plan-epac-dev: any of: Definitions/**/*, .gitlab-ci.yml
  deploy-epac-dev-policy: any of: Definitions/**/*
  deploy-epac-dev-roles: any of: Definitions/**/*
  plan-tenant: any of: Definitions/**/*, .gitlab-ci.yml
